.btn-dark-red {
    background-color: #c82333;
    /* Dark red color */
    border-color: #c82333;
    /* Same dark red border */
}

.btn-dark-red:hover {
    background-color: #a71d2a;
    /* Darker shade on hover */
    border-color: #a71d2a;
    /* Same darker border color on hover */
}

.about-button {
    color: red !important;

}

.hero-header {
    background-color: rgb(18, 18, 18) !important;
}

.text-red-check {
    color: red;
}

.Footer {
    background-color: black !important;
    color: white !important;
}

.newsletter {
    background-color: rgb(34, 32, 32) !important;
}

.hh {
    color: black !important;
}

.aboutImg {
    margin-right: 40px !important;
}

.aboutImg-img {
    width: 500px !important;
}


